@model IEnumerable<ControlEquiposComputo.Models.UsoEquipo>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Estudiante</th>
                <th>Actividad</th>
                <th>Incidente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uso in Model)
            {
                <tr>
                    <td>@uso.Equipo.NumeroEquipo</td>
                    <td>@uso.Estudiante.Nombre</td>
                    <td>@uso.Actividad</td>
                    <td>@uso.RegistrarIncidente</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay uso de equipos registrados para esta clase.</p>
}
