@model ControlEquiposComputo.Models.Laboratorio

@{
    ViewData["Title"] = "Eliminar Laboratorio";
}

<h1>Eliminar Laboratorio</h1>

<h3>¿Estás seguro de que deseas eliminar este laboratorio?</h3>

<div>
    <h4>Laboratorio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.NombreLaboratorio</dd>
        <dt class="col-sm-2">Ubicación</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>
        <dt class="col-sm-2">Capacidad</dt>
        <dd class="col-sm-10">@Model.Capacidad</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="LaboratorioID" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
