@model ControlEquiposComputo.Models.Laboratorio

@{
    ViewData["Title"] = "Editar Laboratorio";
}

<h1>Editar Laboratorio</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="LaboratorioID" />
    <div class="form-group">
        <label asp-for="NombreLaboratorio"></label>
        <input asp-for="NombreLaboratorio" class="form-control" />
        <span asp-validation-for="NombreLaboratorio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ubicacion"></label>
        <input asp-for="Ubicacion" class="form-control" />
        <span asp-validation-for="Ubicacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacidad"></label>
        <input asp-for="Capacidad" class="form-control" />
        <span asp-validation-for="Capacidad" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
