@model ControlEquiposComputo.Models.Equipo

@{
    ViewData["Title"] = "Editar Equipo";
}

<h1>Editar Equipo</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="EquipoID" />
    <div class="form-group">
        <label asp-for="NumeroEquipo"></label>
        <input asp-for="NumeroEquipo" class="form-control" />
        <span asp-validation-for="NumeroEquipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Marca"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Modelo"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado"></label>
        <input asp-for="Estado" class="form-control" />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LaboratorioID"></label>
        <select asp-for="LaboratorioID" class="form-control" asp-items="ViewBag.LaboratorioID"></select>
        <span asp-validation-for="LaboratorioID" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
