@model ControlEquiposComputo.Models.Clase

@{
    ViewData["Title"] = "Crear Clase";
}

<h1>Crear Clase</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombreClase"></label>
        <input asp-for="NombreClase" class="form-control" />
        <span asp-validation-for="NombreClase" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DocenteID"></label>
        <select asp-for="DocenteID" class="form-control" asp-items="ViewBag.DocenteID"></select>
        <span asp-validation-for="DocenteID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LaboratorioID"></label>
        <select asp-for="LaboratorioID" class="form-control" asp-items="ViewBag.LaboratorioID"></select>
        <span asp-validation-for="LaboratorioID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Inicio"></label>
        <input asp-for="Inicio" class="form-control" type="datetime-local" />
        <span asp-validation-for="Inicio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fin"></label>
        <input asp-for="Fin" class="form-control" type="datetime-local" />
        <span asp-validation-for="Fin" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
